@import 'header/_header';
@import 'main/_main';
@import 'features/_features';
@import 'pricing/_pricing';
@import 'about-us/_about-us';
@import 'carrers/_carrers';
@import 'footer/_footer';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Playfair Display', serif;
}

.container {
  height: 100%;
  width: 100%;
}
