.main-wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 1440px;
}

.main-acrticle {
  flex-basis: 100%;
  padding: 20px;
}

.main-title {
  font-size: 26px;
  font-weight: 700;
}

.main-text {
  margin: 30px auto 0;
  font-weight: 500;
}

.main-presentation {
  align-items: center;
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}

.contacts {
  margin-bottom: 30px;
}

.contact {
  margin-bottom: 20px;
  display: flex;
}

.contact-value {
  margin-left: 10px;
}

@media (min-width: 1120px) {
  .main-container {
    flex-direction: row;
  }

  .main-acrticle {
    padding: 100px 50px;
  }

  .main-title {
    font-size: 44px;
  }

  .main-presentation {
    padding: 100px 50px;
  }
}
