.main-wrapper {
  border-bottom: 1px solid #afafaf;
  display: flex;
  height: calc(100vh - 82px);
  justify-content: center;
  width: 100%;
}

.main-container {
  display: flex;
  height: auto;
  width: 1440px;
}

.main-acrticle {
  font-size: 44px;
  font-weight: 600;
  padding: 100px;
}

.main-presentation {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 70px 50px 0;
  width: 100%;
}

.contacts {
  margin-bottom: 30px;

}

.contact {
  margin-bottom: 20px;
  display: flex;
}

.contact-value {
  margin-left: 10px;
}
