.footer {
  background-color: #d6d6d6;
  display: flex;
  height: 82px;
  justify-content: center;
  width: 100%;
}

.footer-container {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 1440px;

  p {
    font-size: 20px;

    span {
      margin-right: 5px;
    }
  }
}
