.features-wrapper {
  border-bottom: 1px solid #afafaf;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.features-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  width: 1440px;
}

.features-title {
  font-size: 24px;
  margin: 100px auto 30px;
}

.features-items {
  display: flex;
  flex-direction: column;
}

.features-item {
  display: flex;
  font-weight: 500;
  margin-bottom: 30px;
  width: 100%;
}

.features-item__icon {
  margin-right: 15px;
  width: 15px;
}

@media (min-width: 1120px) {
  .features-title {
    font-size: 30px;
    margin: 170px auto 50px;
  }

  .features-item {
    font-size: 20px;
  }
}
