.pricing-wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.pricing-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  width: 1440px;
}

.pricing-title {
  font-size: 24px;
  margin: 100px auto 30px;
}

.pricing-rows {
  padding: 0 20px;
}

.single-package {
  border-bottom: 2px solid #666;
  height: auto;
  padding: 20px 0;
  min-height: 90px;
}

.single-package-title {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 30px;
  margin-bottom: 0;
}

.single-package-price {
  color: #ff0000;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 20px;
  margin-bottom: 10px;
}

.total-price {
  color: #666;
}

.package-short-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 10px;
}

@media (min-width: 1120px) {
  .pricing-container {
    padding: 0 30px;
  }

  .pricing-title {
    font-size: 30px;
    margin: 170px auto 50px;
  }

  .single-package {
    padding: 40px 30px 20px 200px;
  }

  .single-package-title {
    font-size: 24px;
    margin: 0 0 10px;
  }

  .single-package-price {
    font-size: 20px;
    margin: 0 0 10px;
  }

  .package-short-description {
    font-size: 18px;
    margin: 0;
  }
}
