.pricing-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(175, 175, 175);
}

.pricing-container {
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing-title {
  margin: 170px auto 50px;
  font-size: 30px;
  letter-spacing: 1px;
}

.pricing-item {
  // margin-bottom: 30px;
  font-weight: 500;
  font-size: 20px;
}
