.pricing-wrapper {
  border-bottom: 1px solid transparent;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.pricing-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  width: 1440px;
}

.pricing-title {
  font-size: 24px;
  margin: 100px auto 30px;
}

.pricing-item {
  font-weight: 500;
}

@media (min-width: 1120px) {
  .pricing-wrapper {
    border-bottom: 1px solid #afafaf;
    height: 100vh;
  }

  .pricing-container {
    padding: 0 30px;
  }

  .pricing-title {
    font-size: 30px;
    margin: 170px auto 50px;
  }

  .pricing-item {
    font-size: 20px;
  }
}
