// @import './components/modal/modal.scss';

.header {
  background-color: rgba(247, 247, 244, 0.91);
  bottom: 0;
  display: flex;
  height: 82px;
  justify-content: center;
  left: 0;
  position: sticky;
  right: 0;
  top: 0;
  z-index: 1;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  padding: 10px;
  width: 1440px;
}

.header-nav__links {
  align-items: center;
  display: flex;
  font-size: 20px;
  padding: 20px;
}

.header-nav__link {
  color: #000;
  cursor: pointer;
  margin-left: 20px;
  padding: 5px;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
  user-select: none;
  display: none;

  &:first-child {
    margin-left: 0;
    margin-right: 20px;
  }

  &:hover {
    background-color: #8b8b8b;
    color: #fff;
  }
}

.header-nav__logo {
  align-items: center;
  color: #000;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
}

.header-social {
  align-items: center;
  display: flex;
  margin-right: 10px;
  padding: 10px;
}

.instagram {
  align-items: center;
  color: #000;
  cursor: pointer;
  display: flex;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}

.instagram-title {
  display: none;
  font-size: 18px;
  margin-left: 10px;
  user-select: none;
}

@media (min-width: 500px) {
  .header-nav__logo {
    font-size: 24px;
  }
}

@media (min-width: 1120px) {
  .header-nav__link {
    display: flex;
  }

  .instagram-title {
    display: inline;
  }
}
